
   html,
          body {
            height: 100%;
            width: 100%;
            overflow: hidden;
            margin: 0;
            padding: 0;
text-align:center;
background-image: url('https://raw.githubusercontent.com/EriMatraku/csssurvey/master/bckg1.jpg')
          }

          @media print {
            html,
            body {
                height: auto;
            }
          }
.rn_FeedbackFieldset legend {
    font-size: inherit;
    visibility: inherit;
    white-space: normal;
  color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;
}
tr {
  color: #111;
font-family: 'Helvetica Neue', sans-serif;
font-size: 20px;
font-weight: bold;
}
table {
  border-collapse: collapse;
table-layout: fixed;
width: 40em;
border-collapse: separate;
border-spacing: 0.5em;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr {background-color:#c8c5c5}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #000000;
	box-shadow:inset 0px 1px 0px 0px #000000;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000));
	background:-moz-linear-gradient(top, #000000 5%, #000000 100%);
	background:-webkit-linear-gradient(top, #000000 5%, #000000 100%);
	background:-o-linear-gradient(top, #000000 5%, #000000 100%);
	background:-ms-linear-gradient(top, #000000 5%, #000000 100%);
	background:linear-gradient(to bottom, #000000 5%, #000000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000',GradientType=0);
	background-color:#000000;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:11px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
#submit_btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #000000;
	box-shadow:inset 0px 1px 0px 0px #000000;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000));
	background:-moz-linear-gradient(top, #000000 5%, #000000 100%);
	background:-webkit-linear-gradient(top, #000000 5%, #000000 100%);
	background:-o-linear-gradient(top, #000000 5%, #000000 100%);
	background:-ms-linear-gradient(top, #000000 5%, #000000 100%);
	background:linear-gradient(to bottom, #000000 5%, #000000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000',GradientType=0);
	background-color:#000000;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:11px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
               margin-left:23em;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000));
	background:-moz-linear-gradient(top, #000000 5%, #000000 100%);
	background:-webkit-linear-gradient(top, #000000 5%, #000000 100%);
	background:-o-linear-gradient(top, #000000 5%, #000000 100%);
	background:-ms-linear-gradient(top, #000000 5%, #000000 100%);
	background:linear-gradient(to bottom, #000000 5%, #000000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000',GradientType=0);
	background-color:#000000;
}
#submit_btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000));
	background:-moz-linear-gradient(top, #000000 5%, #000000 100%);
	background:-webkit-linear-gradient(top, #000000 5%, #000000 100%);
	background:-o-linear-gradient(top, #000000 5%, #000000 100%);
	background:-ms-linear-gradient(top, #000000 5%, #000000 100%);
	background:linear-gradient(to bottom, #000000 5%, #000000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000',GradientType=0);
	background-color:#000000;
}

.myButton:active {
	position:relative;
	top:1px;
}
#submit_btn:hover {
	position:relative;
	top:1px;
}